.recitas_texto{
    margin: 6rem 6rem 4rem; 
    font-size:2.5rem}

.container_recitas{
display:inline-flex;
text-wrap:wrap;
margin: 1rem 6rem;
}

.container_imagem_recitas {
    max-width: 32rem;
    text-decoration: none;
    color: var( --cinzaEscuro );
    cursor: pointer;
}

.container_imagem_recitas:hover {
  background-color: var(--cinzaClaro); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  transform: translateY(-4px);  
  transition: all 0.3s ease;
}
.container_imagem_recitas img {
    max-width: 32rem;
}
.container_imagem_recitas h3 {
    padding: 1rem 0rem;
    font-size: 2rem;
    list-style:none;
}



.container_imagem_recitas p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; 
  overflow: hidden;
  text-overflow: ellipsis;
}

